@import "tailwindcss";
@import "../shared/theme/tailwind.css";
@config "../../tailwind.config.js";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: DM Sans, sans-serif;
}
